body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(65, 226, 226);

}

.inicio {
    display: flex;
    height: 100vh;
}

.foto {
    flex: 1;
    background-color: rgb(65, 226, 226);
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto img{
    width: 301px;
    height: auto;
    border-radius: 8px;
}